{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block css %}<link href="{% static 'css/index.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-login">
                <label class="form-control" style="font-size: 23px;width: 550px;left: 21cm;top: 12cm">
                    开发团队：<br>
                    陈钊燚、林德铝、秦宇帆、<br>何珍珍、杨阳
                </label>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}