{% extends 'afterlogin.html' %}
{% load staticfiles %}
{% block title %}所有账单{% endblock %}
{% block css %}<link href="{% static 'css/showBills.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
        <form class="back">
            <div>
              <a href="/user-{{ nid }}" >
                    <input type="button" value="返回">
                </a>
              </div>
        </form>
        <h2>{{ user.username }}的全部账单</h2>
          <form class="form-login" action="/showallhtml-{{ nid }}" method="post">
              <div>
              <h2>{{ user.username }}的全部账单</h2>
                  <table border="3" style="text-align: center;width: 1000px;" class="form-control" >
                      <tr>
                          <th width="200" >日期</th>
                          <th width="100" >金额</th>
                          <th width="100" >类型</th>
                          <th width="100" >心情</th>
                          <th width="500" >备注</th>
                      </tr>
                      {% for t in timelist %}
                          <tr>
                          <td>{{ t }}</td>
                          </tr>
                          {% for l in list %}
                              {% for v in l %}
                                {% if v == t %}
                              <tr>
                              {% for val in l %}
                              <td>{{ val }}</td>
                              {% endfor %}

                              </tr>
                                  {% endif %}
                              {% endfor %}

                          {% endfor %}



                        {% endfor %}
                  </table>
              </div>
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}