{% extends 'afterlogin.html' %}
{% load staticfiles %}
{% block title %}更改账单{% endblock %}
{% block css %}<link href="{% static 'css/updataBills.css' %}" rel="stylesheet"/>{% endblock %}



{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="bill_list/update_billhtml-{{ nid }}" method="post">
              <h3 class="text-center">修改账单</h3>
              <div class="form-group">
                <label for="id_date">日期：</label>
                <input type="date" name='time' class="form-control" id="id_date" placeholder="必填" autofocus required>
              </div>
          <div class="form-group">
                <label for="id_money">金额：</label>
                <input type="number" name='money' class="form-control" id="id_money" placeholder="必填" autofocus required>
              </div>
          <div class="form-group">
                <label for="id_type">类型：</label>
                <select class="form-control" name="type" id="id_type">
                    <option value="-2">请选择</option>
                    <option value="-1">收入</option>
                    <option value="0">日用</option>
                    <option value="1">娱乐</option>
                    <option value="2">小吃</option>
                    <option value="3">餐饮</option>
                    <option value="4">交通</option>
                    <option value="5">住宿</option>
                    <option value="6">通讯</option>
                    <option value="7">书籍</option>
                    <option value="8">医疗</option>
                    <option value="9">旅行</option>
                    <option value="10">其他</option>
                </select>
              </div>
          <div class="form-group">
                <label for="id_newmoney">新金额：</label>
                <input type="number" name='new_money' class="form-control" id="id_newmoney" placeholder="选填">
              </div>
          <div class="form-group">
                <label for="id_newtype">新类型(选填)：</label>
                <select class="form-control" name="new_type" id="id_newtype">
                    <option value="-2">请选择</option>
                    <option value="-1">收入</option>
                    <option value="0">日用</option>
                    <option value="1">娱乐</option>
                    <option value="2">小吃</option>
                    <option value="3">餐饮</option>
                    <option value="4">交通</option>
                    <option value="5">住宿</option>
                    <option value="6">通讯</option>
                    <option value="7">书籍</option>
                    <option value="8">医疗</option>
                    <option value="9">旅行</option>
                    <option value="10">其他</option>
                </select>
              </div>
          <div class="form-group">
                <label for="id_newremark">新备注：</label>
                <input type="text" name='new_remark' class="form-control" id="id_newremark" placeholder="选填">
              </div>


              {% if error == 1 %}
                  <script type="text/javascript">
              alert("新金额、新类型和新备注至少要填一个！")
              </script>
              {% endif %}
          {% if error == 3 %}
                  <script type="text/javascript">
              alert("请完整输入！")
              </script>
              {% endif %}
          {% if error == 0 %}
              <script type="text/javascript">
              alert("修改成功！")
              </script>
          {% endif %}
          {% if error == 2 %}
              <script type="text/javascript">
              alert("金额必须和类型匹配！")
              </script>
          {% endif %}
                <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}