{% extends 'afterlogin.html' %}
{% load staticfiles %}
{% block title %}用户功能界面{% endblock %}
{% block css %}<link href="{% static 'css/user.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/userhtml-{{ user.id}}" method="get">
              <h1 class="text-center" style="font-size: 30px">欢迎您,{{ user.username }}!<br><br></h1>
              <div class="form-group">
                <a href="/bill/listhtml-{{ user.id }}">
                    <input type="button" value="查询账单" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
              </div>

              <div class="form-group">
                <a href="/bill_list/new_billhtml-{{ user.id }}">
                    <input type="button" value="新增账单" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
                  </div>
                    <div class="form-group">
                <a href="/bill_list/update_billhtml-{{ user.id }}">
                    <input type="button" value="修改账单" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
                  </div>
                  <div class="form-group">
                  <a href="/showallhtml-{{ user.id }}">
                    <input type="button" value="所有账单" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
              </div>

                  <div class="form-group">
                  <a href="/imagehtml-{{ user.id }}">
                    <input type="button" value="账单分析" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
              </div>

                  <div class="form-group">
                  <a href="/predictionhtml-{{ user.id }}">
                    <input type="button" value="性格分析" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
              </div>
              <div class="form-group">
                <a href="/bill_list/delete_billhtml-{{ user.id }}">
                    <input type="button" value="删除账单" style="width: 200px;font-size: 30px;color: #4cae4c;border-radius: 30px">
                </a>
                  </div>
                {% if error == 2 %}
                  <script type="text/javascript">
              alert("账单不足难以分析！")
              </script>
              {% endif %}

                {% if error == 1 %}
                  <script type="text/javascript">
              alert("您没有账单！")
              </script>
              {% endif %}
          </form>
        </div>
        <div>

            </div>
    </div> <!-- /container -->
{% endblock %}